<!-- app/views/races/index.html.erb -->
<h1>List of Races</h1>


<table>
  <thead>
    <tr>
      <th> Race</th>
      <th> Race_Population</th>
      <th> Description</th>
    </tr>
  </thead>
   <tbody>
   <% @races.each do |race| %>
      <tr>
        <td><%= link_to race.race_name, race_path(race) %></td>
        <td><%= race.race_population%></td>
        <td><%= race.description%></td>
      </tr>
    <% end %>
  </tbody>
</table>