<!-- app/views/languages/index.html.erb -->
<h1>List of Languages</h1>

<ul>
  <% @languages.each do |language| %>
      <td><%= link_to language.language_name, language_path(language) %></td>
  <% end %>
</ul>
