<!-- app/views/languages/show.html.erb -->
<h1><%= @language.language_name %></h1>

<h2>Countries</h2>
<ul>
  <% @countries.each do |country| %>
     <li><%= link_to country.country_name, country_path(country) %></li>
  <% end %>
</ul>

<%= link_to 'Back', languages_path %>
