<!-- app/views/countries/index.html.erb -->
<h1>List of Countries</h1>

<table>
  <thead>
    <tr>
      <th>Country Name</th>
      <th>Continent</th>
      <th>Population</th>
    </tr>
  </thead>
  <tbody>
    <% @countries.each do |country| %>
      <tr>
         <td><%= link_to country.country_name, country_path(country) %></td>
        <td><%= country.continent %></td>
        <td><%= country.population %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @countries %>