<!-- app/views/cities/search_results.html.erb -->

<h1>Search Results for "<%= @search_term %>"</h1>

<table>
  <thead>
    <tr>
      <th>City Name</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% @cities.each do |city| %>
      <tr>
        <td><%= link_to city.city_name, city_path(city) %></td>
        <td><%= city.country.country_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @cities %>