<!-- app/views/cities/show.html.erb -->
<h1><%= @city.city_name %></h1>

<ul>
  <li><strong>Country:</strong> <%= link_to @city.country.country_name, country_path(@city.country) %></li>
</ul>

<h2>Races</h2>
<ul>
  <% @races.each do |race| %>
      <li><%= link_to race.race_name, race_path(race) %></li>
  <% end %>
</ul>

<%= link_to 'Back', cities_path %>
